<a href="/creatures" class="btn mb-2">Volver</a>

{{#if (condition miscrit '!=' null)}}
<div class="d-flex pt-2">
    <h3 class="d-flex align-items-center">{{miscrit.name}}</h3>
    <img class="ms-3 rounded" src={{miscrit.element.icon}} alt={{miscrit.element.name}}>
</div>

<div class="d-flex justify-content-center">
    <img class="rounded" src={{miscrit.image}} alt={{miscrit.name}}>
</div>

<div>
    <h4>Descripción:</h4>
    <p>{{miscrit.description}}</p>
</div>

<div>
    <h4>Ubicación:</h4>
    <p><b>{{miscrit.location.name}}</b></p>
</div>

<div>
    <h4>Rareza:</h4>
    <p><b>{{miscrit.rarity}}</b></p>
</div>

<div>
    <h4>Estadísticas:</h4>

    {{> objectTable items=miscrit.stats}}
</div>

<div>
    <h4>Habilidades:</h4>

    {{#each miscrit.skills}}
    {{> objectTable items=this }}
    {{/each}}
</div>
{{else}}
<div>
    <h4>Esta criatura no existe</h4>
</div>
{{/if}}